@charset "UTF-8";
/*######################## - GENERAL - #############################*/
html{
	width: 100%; height: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body{
	width: 100%; height: 100%;
	position: relative;
	text-align: left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

p,ul,ol,blockquote{margin-bottom: 1.5em}

p{text-align: justify;}

a{text-decoration: none;}
a:hover{text-decoration: underline;}

h1,h2,h3,h4{ margin-bottom: 24px; display: block;}
h5,h6{display: inline;}

strong{font-weight: bold;}
em{font-style: italic; font-weight: lighter;}

ul,ol{margin-left: 20px;}
ul{list-style:disc inside;}
ul ul, ul ol{list-style: disc inside; margin-bottom:0;}
ol{list-style:decimal inside; overflow: hidden;}
ol ol, ol ul{ list-style:lower-roman inside; overflow: hidden; margin-bottom:0;}


	/*-----------------------------------------------------------------------------*/
	/*---------------------------- FAMILLE DE POLICE ------------------------------*/
	body{font-family: '', sans-serif;}
	h1,h2,h3,h4{font-family: '', sans-serif;}
	h5,h6{font-family: '', sans-serif;}
	/*---------------------------- FAMILLE DE POLICE ------------------------------*/
	/*-----------------------------------------------------------------------------*/
	/*----------------------------- TAILLE DE POLICE ------------------------------*/
	body{font-size: 16px; line-height: 1.25;}
	h1{font-size:2.5em;}
	h2{font-size:2em;}
	h3{font-size:1.5em;}
	h4{font-size:1.3em;}
	h5{font-size:1.2em;}
	h6{font-size:1em;}
	em{font-size: 0.9em;}
	/*----------------------------- TAILLE DE POLICE ------------------------------*/
	/*-----------------------------------------------------------------------------*/
	/*--------------------------------- COULEURS ----------------------------------*/
	body{color: rgb(40,40,40);} /* couleur principale */
	h1{color: rgb(0,0,0);}
	h2{color: rgb(10,10,10);}
	h3{color: rgb(10,10,10);}
	h4{color: rgb(20,20,20);}
	h5{color: rgb(20,20,20);}
	h6{color: rgb(30,30,30);}
	a{color: rgb(60,60,60);} 
	a:hover{color: rgb(80,80,80);}
	strong{color: rgb(5,5,5);}
	/*--------------------------------- COULEURS ----------------------------------*/
	/*-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------*/
/*######################## - GENERAL - #############################*/
/*##################################################################*/
/*######################## - CONTENU - #############################*/
	/*-----------------------------------------------------------------------------*/
	/*----------------------------------- HEADER ----------------------------------*/

			body>header{
				position: fixed; top:0px; left: 0px; z-index: 500;
				background-color: rgb(250,250,250);
				border-bottom: 1px	solid rgb(180,180,180);
				width: 100%;
				min-width: 410px;
				height: 42px;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				opacity: 0.5;
			}

			#menu ul{
				position: absolute; top: 7px; left: 0px;
				margin: 0px;
				text-align: left;
				white-space: nowrap;
			}
			#menu li{
				display: inline-block;
				min-width: 35px;
				margin-left: 20px; 
    			overflow: hidden;
    			text-overflow: ellipsis;
    			white-space: nowrap;

			}
			.menu_link{
				font-size: 20px;
				text-decoration: none;
			}
			.menu_link:hover{text-decoration: none;}

	/*--------------------------------- RECHERCHE ---------------------------------*/

			#recherche{
				position: absolute; top:3px; right: 3px; z-index: 501;
				min-width: 235px;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
			}
			/*zone input */
			#recherche input{
				background-color: rgb(250,250,250);
				border:1px solid rgb(180,180,180);
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
				margin: 0px;
				width: 100%;
				height: 35px;
				text-align: left;
				padding-right: 68px;
				}

			#rech-input-frame{
				position: absolute; right: 0px; top:0px;
				width: 100%;
				max-width: 600px;
				height: 35px;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
			}

			/*bouton de recherche*/
			#recherche button{
				position: absolute; top: 0px; right: 0px;
				border:1px solid rgb(180,180,180);
				margin: 0px;
				width: 65px;
				height: 35px;
				}

			/* tableau de suggestions */
			#hints-frame{
				position: absolute; top: 35px; left: 0px; z-index: 100;
				width: 100%;
				max-height: 100px;
				overflow: auto;
				background-color: rgb(80,80,80);
				color: rgb(200,200,200);
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				opacity: 0.90;
			}
			#hints-frame table{
				position: relative;
				width: 100%;
			}
			#hints-frame tr{
				border-bottom: 1px solid rgb(100,100,100);
				vertical-align: middle;
				padding: 2px;
			}
			#hints-frame tr:hover{
				background-color: rgb(60,60,60);
				cursor: pointer;
			}

	/*--------------------------------- RECHERCHE ---------------------------------*/

#main{
	text-align: center;
	padding-top: 42px;
	max-height: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/*----- THUMB MOVIE -----*/
.thumb_frame{
	display: inline-block;
	position: relative;
	list-style: none;
	vertical-align: top;
	height: 154px;
	width: 110px;
	margin: 20px 05px 05px;
	border: 2px solid transparent;
	transition:0.5s;
}
.thumb_frame:hover{
	border: 2px solid rgb(150,150,150);
	transition:0.5s;
}
.movie_frame{
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.movie_frame>header{
	display: block;
	position: absolute; top:-7px; left:65px;
	margin-left: -50%;
	height: 14px;
	width: 80%;
	text-align: center;
	background-color: gray;
	font-size: 12px;
}
.movie_frame>dl{
	display: block;
	position: relative; z-index: 10;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(90,90,90,0.7);
	opacity: 0;
	transition:0.5s;
}
.movie_frame dt{
	color: rgb(230,230,230);
	font-size: 14px;
}
.movie_frame dd{
	margin-left: 3px;
	color: rgb(200,200,200);
	font-size: 12px;
}
.movie_frame:hover>dl{
	opacity: 1;
	transition:0.5s;
}
.movie_frame mark{
	background-color: inherit;
	color:rgb(255,255,255);
	font-weight: bold;
}
/**/

#menu_genres li{
	display: inline;
	list-style: none;
	vertical-align: top;
}
#menu_genres a{
	display: inline-block;
	min-width: 60px;
	height: 35px;
	padding: 1px 5px;
	margin: 3px;
	line-height: 35px; 
	background-color: rgb(190,190,190);
	vertical-align: middle;
	transition:0.5s;
}
#menu_genres a:hover{ 
	background-color: rgb(170,170,170);
	text-decoration: none;
	transition:0.5s;
}

/**/
#movie_sheet{
	max-width: 90%;
	height: 90%;
	margin: 0px auto;
	padding: 20px;
}
#movie_sheet figure{
	display: inline-block;
	max-width: 48%;
	max-height: 100%;
	vertical-align: top;
}
#movie_sheet figure img{
	display: block;
	max-width: 100%;
	max-height: 100%;
	vertical-align: top;
}
#movie_sheet dl{
	display: inline-block;
	max-width: 48%;
	text-align: left;
	padding-left: 15px;
	vertical-align: top;
}

#movie_sheet dt{
	font-size: 1.5em; 
}
#movie_sheet dd{
	font-size: 1em;
	text-align: justify;
	max-height: 120px;
	padding: 0px 2px 0px 8px;
	overflow-x:hidden;
	overflow-y:auto;
}

/*######################## - CONTENU - #############################*/
.hiddenthumb{
	display: none;
}
/*---- FORMS ERRORS ----*/
.formError{
	border: 2px solid red;
}
.formErrorMsg{
	color: red;
	font-weight: bold;
}