<?php require_once('header.html') 
// below : div#main
?>
<h1><?=$pageTitle?></h1>
<nav id="menu_genres">
<?php if (!isset($errors['genres'])): ?>
	<ul>
	<?php foreach ($genres as $urlgenre => $genre): ?>
		<li><a href="<?= $this->url('genre/'.$urlgenre)?>"><?= $genre ?></a></li>
	<?php endforeach ?>
	</ul>
<?php else: ?>
	<h1>No genre found</h1>
<?php endif ?>
</nav>

<?php if ($ChosenGenre == 'all'): ?>

<?php else: ?>

	<em><?= $nbresults ?> results found.</em>
	<ul>
	<?php foreach ($results as $movie): ?>
		<li class="thumb_frame">
			<a class="movie_frame" title="<?=$movie['title']?>" href="<?= $this->url('movie',array('id'=>$movie['id'])) ?>" style="background-image : url('<?= $this->url('posters/filmothumb_'.$movie['id'].'.jpg') ?>');">
			<img class="hiddenthumb" src="<?= $this->url('posters/filmothumb_'.$movie['id'].'.jpg') ?>">
			<dl>
				<dt>Genre</dt>
				<dd><?= $movie['genre'] ?></dd>
			</dl>
			</a>
		</li>
	<?php endforeach ?>
	</ul>
<?php endif ?>


<?php

// above : div#main
require_once('footer.html') ?>