<!DOCTYPE html>
<html lang="fr" xml:lang="fr">
<head>
	<title><?= $CONFIG['siteTitle'].' - '.$pageTitle ?></title>
	<link rel="icon" type="image/png" href="<?= $this->url('favicon.png') ?>" />
	<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="<?= $this->url('favicon.ico') ?>" /><![endif]-->
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="<?= $this->url('css/reset.css') ?>" />
	<link rel="stylesheet" type="text/css" href="<?= $this->url('css/filmo.css') ?>" />
	<script type="text/javascript" src="<?= $this->url('js/jquery-2.1.1.min.js') ?>"></script>
	<script type="text/javascript" src="<?= $this->url('js/filmo.js') ?>"></script>
</head>

<body>
<?php if (isset($auth['status']) && $auth['status']): ?>
<header>
	<div id="menu">
		<nav>
			<ul id="menu_list">
				<li><a class="icon-home menu_link" href="<?= $this->url('home') ?>">Home</a></li>
				<li><a class="icon-home menu_link" href="<?= $this->url('genre/all') ?>">Genres</a></li>
			</ul>
		</nav>
	</div>
	<div id="recherche">
		<form id="form-rech" name="form-rech" method="post" action="<?= $this->url('searchengine') ?>">
			<div id="rech-input-frame">
				<input type="hidden" id="token" name="token" value="<?= (isset($form['token']))?$form['token']:''; ?>"/>
				<input type="text" name="search" id="search" placeholder="" autocomplete="off" />
				<ul id="txtHint"></ul>
			</div>
			<button type="submit" ><span class="icon-search">search</span></button>
		</form>
	</div>
</header>
<?php endif ?>
<?= (isset($flashMsgs))?$flashMsgs:'';?>
<div id="main"><!-- start of div#main -->

